@*
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="img/auto-insurance.jpg" alt="Auto Insurance">
                    <div class="card-body">
                        <h5 class="card-title">Auto Insurance</h5>
                        <p class="card-text">Protect yourself and your car on the road with our comprehensive auto insurance policies.</p>
                        <a href="#" class="btn btn-outline-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="img/home-insurance.jpg" alt="Home Insurance">
                    <div class="card-body">
                        <h5 class="card-title">Home Insurance</h5>
                        <p class="card-text">Keep your home and personal belongings safe with our affordable and reliable home insurance policies.</p>
                        <a href="#" class="btn btn-outline-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
<img class="card-img-top" src="img/travel-insurance.jpg" alt="Travel Insurance">
<div class="card-body">
<h5 class="card-title">Travel Insurance</h5>
<p class="card-text">Explore the world without any worries with our travel insurance policies that cover all unforeseen circumstances.</p>
<a href="#" class="btn btn-outline-danger">Learn More</a>
</div>
</div>
</div>
</div>
</div>*@