
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from custodianplc.com.ng/car-insurance by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 14:20:33 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Best Car Insurance in Nigeria - Get a Quote Online</title>
	<link rel="canonical" href="car-insurance.html"/>
<meta name="description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
<meta property="og:title" content="Best Car Insurance In Nigeria – Get a Quote Online." />
<meta property="og:description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
<meta property="og:url" content="car-insurance.html" />
<meta name="twitter:title" content="Car Insurance in Nigeria – Get a Quote Online." />
<meta name="twitter:description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
<meta name="keywords" content="vehicle, bikes, third party, comprehensive, fire, theft, vehicle tracker, liability, indemnify, auto, damage, accidents, excess buy back, property, towing, flood, replacement costs,  medical expenses, bodily injury, death, car accessories, repairs, buy third party insurance in Nigeria, motor insurance in Nigeria, auto insurance quote, get a quote online, third party insurance, third party motor insurance plan, trailers, motorcycles, claim, quotes, insurance company in Nigeria, quick motor insurance, quick insurance, third party insurance policy, third party car insurance, motor insurance, auto insurance companies, car insurance, car insurance in nigeria, auto insurance in Nigeria, comprehensive motor insurance, premium discount, comprehensive insurance, comprehensive car insurance, comprehensive insurance policy, car insurance discount, insurance auto discount, auto insurance companies, car insurance,  motor insurance discount, third party fire and theft insurance,      motor comprehensive        auto insurance companies, insurance motor insurance, motor insurance for Uber, motor insurance for Taxify, special car insurance, motor insurance types" />
    
    <meta name="author" content="custodianplc.com.ng">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="ruxitagentjs_ICA27NVfjqrux_10257221222094147.js" data-dtconfig="rid=RID_1476147631|rpid=1367465295|domain=custodianplc.com.ng|reportUrl=/rb_bf19740nlp|app=174d139a06497dba|featureHash=ICA27NVfjqrux|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=2fwfwpat|mel=100000|dpvc=1|ssv=4|lastModification=1675760387866|dtVersion=10257221222094147|tp=500,50,0,1|uxdcw=1500|agentUri=/ruxitagentjs_ICA27NVfjqrux_10257221222094147.js"></script><link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

    <!-- Vendor CSS -->
    
    

    <link rel="stylesheet" href="vendor/tether/tether.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

    
    <link rel="stylesheet" href="vendor/node_modules/sweetalert2/dist/sweetalert2136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="vendor/bootstrap/css/glyphicon136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/ion-icons/css/ionicons.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/cubeportfolio/css/cubeportfolio.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="vendor/dzsparallaxer/dzsparallaxer136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/menuzord/css/skins/menuzord-border-top136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/menuzord/css/menuzord-animations136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="vendor/lite-tooltip/css/litetooltip136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="vendor/air-datepicker/datepicker.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


    <!-- Theme CSS -->
    <link href="css/style136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/portfolio136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/main-shortcodes136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/shortcodes136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/header136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link rel="stylesheet" href="css/custom136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link href="css/form-element136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/animation136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/responsive136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/utilities136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/skins/default136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/index136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="css/style4136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" <!-- Pricing CSS -->
    <link href="vendor/pricing-tables/main136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="vendor/pricing-tables/responsive136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="vendor/pricing-tables/style_9136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />

    <!-- Smart-form CSS -->
    <link rel="stylesheet" href="css/smart-forms/smart-addons136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="css/smart-forms/smart-forms136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


    <!-- Date Picker -->
    <link rel="stylesheet" href="css/date-picker/gijgo.min136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


    <!-- Theme Custom CSS -->
    
    <link rel="stylesheet" href="css/personalStyles/aboutStyle136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

    <!-- Style Swicher -->
    <link href="vendor/style-switcher/style-switcher136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />

    <link rel="stylesheet" href="css/custom136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9"> 
	
	<script type="text/javascript">
		window.ef894534534590934545359095345 = "ACCT_sz3jzkttt2xb7jg";
		window.CUSTODIAN_HELPLINE_NUMBER = "(+234)12774008-9";
		window.CUSTODIAN_HELPLINE_EMAIL = "carecentre@custodianinsurance.com";
	</script>
	<style>
		.no-show {
			display: none;
		}
	</style>
    <link rel="stylesheet" href="css/car136e.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    

	<link rel="stylesheet" type="text/css" href="../cdn.jsdelivr.net/npm/cookieconsent%403/build/cookieconsent.min.css" />
</head>

<body>

    <div class="wrapper">

        <!--Header-->
        <header class="l-header l-center-t">
  <div class="l-navbar l-navbar_t-light js-navbar-sticky">
    <div class="container">
      <nav
        class="menuzord js-primary-navigation"
        data-plugin-menuzord data-plugin-options="{'align': 'right'}"
        aria-label="Primary Navigation"
      >
        <a href="index.html" class="logo-brand">
          <img
            class="retina"
            src="img/logo-white.png"
            data-logo="https://custodianplc.com.ng/img/logo-white.png"
            alt="custodian-logo"
          />
        </a>

        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
          <li>
            <a href="#">About us</a>
            <ul class="dropdown"> 
              <li><a href="about-us.html">About us</a></li>
              <li>
                <a href="#">Subsidiaries</a>
                <ul class="dropdown">
                  <li>
                    <a href="custodian-and-allied-insurance-limited.html">
                      Custodian And Allied Insurance Limited (CAIL)
                    </a>
                  </li>
                  <li>
                    <a href="custodian-life-assurance-limited.html">
                      Custodian Life Assurance Limited (CLA)
                    </a>
                  </li>
                  <li> <a href="trustees-limited.html">Custodian Trustees Limited (CTL)</a> </li>
                  <li>
                    <a href="http://www.crusaderpensions.com/" target="_blank">
                      Crusader Sterling Pensions Limited (CSP)
                    </a>
                  </li>
                  <li>
                    <a href="https://updcplc.com/" target="_blank">
                      UACN Property Development Company Plc. (UPDC)
                    </a>
                  </li>
                </ul> 
              </li>
              <li>
                <a href="#">Investor relations</a>
                <ul class="dropdown">
                  <li><a href="financials.html">Financials</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/10vnich1iLm-sdNQn3wOEvfiOQjIX5pVf/view?usp=sharing">
                      Whistle Blowing Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1L9iHFwfxpemda0cd8b1DfZAxJ7xvfqLg/view?usp=sharing">
                      Securities Trading Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1TyDbOqkNYEeyaOB94oFNmiNQJzxzwd0p/view?usp=sharing">
                      Stakeholder Management and Communication Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1oE8utyfuBCdjgN4-sFW1IYtRvYxV39EQ/view?usp=sharing">
                      Complaints Management Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1ijLC_hWwsesYhhSfkDhEvLXknAjuxPVB/view?usp=sharing">
                      Notice of AGM by Proxy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="investors_uploads/E-DIVIDEND_MANDATE_CARD_CUSTODIAN_INVESTMENT_PLC.pdf">
                      E-Dividend Mandate Card
                    </a>
                  </li>
                  <li><a href="complaint-lodgement.html">Complaint Lodgement</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1rB__SkV6NFNw5yCMWl9lnwvuEaGJ_XHl/view?usp=sharing">
                    Nigerian Code of Corporate Governance
                    </a>
                  </li>
                  <li>
                  
                  <a target="_blank" href="https://youtu.be/N4EdAbNspUE">
                    <!-- <a target="_blank" href="http://bit.ly/CustodianAGM2021 "> -->
                    AGM Live Streaming
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1dWClryEwglCUcAPtSgwG4b-sg5iUGJjr/view?usp=sharing">
                    Unclaimed Dividends List
                    </a>
                  </li>
                </ul>
              </li>
              <li> <a href="Resource-Center.html">Resource center</a> </li>
            </ul>
          </li>

          <li class="">
            <a href="#">Products</a>
            <ul class="dropdown">
              <li>
                <a href="#">General Insurance Products</a>
                <ul class="dropdown">
                  <li><a class="consent-link" href="car-insurance.html"> Auto Insurance</a></li>
                  <li><a class="consent-link" href="travel-insurance.html">Travel Insurance</a></li>
                  <li><a class="consent-link" href="home-shield.html">Home Insurance</a></li>
                  <li><a class="consent-link" href="safety-plus-plan.html">Safety Plus</a></li>
                  <li><a class="consent-link" href="events-insurance.html">Events Insurance</a></li>
                  <li><a  href="#">Others</a></li>
                </ul>
              </li>

              <li>
                <a href="#">Life Insurance Products</a>
                <ul class="dropdown ">
                  <li>
                    <a href="#">Savings & Investment</a>
                    <ul class="dropdown">
                      <li > <a class="consent-link" href="capital-builder.html">Capital Builder</a> </li>
                      <li > <a class="consent-link" href="esusu-shield.html">Esusu Shield</a> </li>                     
                      <li > <a class="consent-link" href="personal-provident-plan.html">Personal Provident Plan</a> </li>
                      <li > <a class="consent-link" href="investment-plus-plan.html">Investment Plus Plan</a> </li>
                      <li > <a class="consent-link" href="wealth-plus.html">Wealth Plus Plan</a> </li>
                    </ul> 
                  </li>
                  <li>
                    <a href="#">Endowment Policies</a> 
                    <ul class="dropdown">
                      <li><a class="consent-link" href="education-endowment.html">Education Endowment</a></li>
                      <li><a class="consent-link" href="life-time-harvest.html"> Life Time Havest</a></li>
                      <li><a class="consent-link" href="ordinary-endowment.html">Ordinary Endowment</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Protection</a>
                    <ul class="dropdown">
                      <li><a class="consent-link" href="term-assurance.html">Term Assurance</a></li>
                      <li><a class="consent-link" href="whole-life-assurance.html">Whole Life Assurance </a></li>
                      <li> <a class="consent-link" href="dignity-plan.html">Dignity Plan </a></li>
                      <li> <a class="consent-link" href="tuition-protection.html">Tuition Protection </a></li>
                      <li> <a class="consent-link" href="critical-illness-insurance.html">Critical Illness Cover </a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Annuities</a> 
                    <ul class="dropdown">
                      <li> <a class="consent-link" href="deferred-annuity-plan.html">Deferred Anuity</a> </li>
                      <li> <a class="consent-link" href="immediate-annuity-plan.html">Immediate Annuity</a> </li>
                      <li> <a class="consent-link"   href="retiree-annuity-plan.html">Retiree Life Annuity</a> </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Corporate</a> 
                    <ul class="dropdown">
                      <li> <a  href="group-credit.html">Group Credit Life</a> </li>
                      <li> <a href="group-life.html">Group Life</a> </li>
                    </ul>
                  </li>
                  <li> <a href="life-products.html">Others</a> </li>
                </ul>
              </li>
              
              <li><a href="trustees-limited.html">Trustees</a></li>
              <li><a href="https://www.crusaderpensions.com/" target="blank">Pensions</a></li>   
              <li><a href="https://updcplc.com/" target="_blank">Property</a></li> 
            </ul>
		  </li>                           
		  
		  <li> <a href="key-moments.html">Key Moments</a></li> 
          <li> <a href="http://careers.custodianplc.com.ng/" target="blank">Careers</a></li> 
          <li> <a href="csr-foundation.html">CSR </a></li>
		  <li> <a href="claim.html">Claim </a></li> 
		  <li>
            <a href="#">Contact</a>
            <ul class="dropdown">
              
              <li><a href="contacts.html">Contact us</a></li>
              <li><a href="branches.html">Our Branches</a></li>
             
            </ul> 
      </li>

          <li class="nav-divider" aria-hidden="true"><a href="javascript:void(0)">|</a> </li>   
          <li class="social-item">
            <a href="https://twitter.com/CustodianPLC" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://facebook.com/CustodianPLC/" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/custodianplc" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>      
          <li class="btn-item">
            <a href="Max/index.html" target="blank">
              <div class="btn btn-white btn-shadow btn-bordered btn-bordered-1x">Chat Max</div>
            </a>
		      </li>
         
              
         
        </ul>
      </nav>
    </div>
  </div>

  <!-- <script>


        let consentRoutes = [
            "/car-insurance",
            "/travel-insurance",
            "/home-shield",
            "/safety-plus-plan",
            "/events-insurance",
            "/capital-builder",
            "/esusu-shield",
            "/personal-provident-plan",
            "/investment-plus-plan",
            "/wealth-plus",
            "/education-endowment",
            "/life-time-harvest",
            "/ordinary-endowment",
            "/term-assurance",
            "/whole-life-assurance",
            "/dignity-plan",
            "/tuition-protection",
            "/critical-illness-insurance",
            "/deferred-annuity-plan",
            "/immediate-annuity-plan",
            "/retiree-annuity-plan"
        ]

      

        //let crtURL = current navigation url
        let crtURL = window.location.pathname;
       
        //compare crtURL to the urlContxt in session storage 
        let urlContxt = sessionStorage.getItem("curl");
            //if the crtURL is same as urlContxt, do not show pop up
        if(urlContxt?.indexOf(crtURL) != 0){
            //check if the crtURL is within the consentRouteURL    
           let route = consentRoutes.find(x => x == crtURL);
            //if yes show pop-up
            if(route?.length > 0){
                document.getElementById("consent-cover-bnr").style.display = "flex";  
            }
            //else dont show
        }
        
    //save crtURL to urlContxt
    sessionStorage.setItem("curl",crtURL);

    document.getElementById("consent-close-btn").addEventListener('click', function(){
            document.getElementById("consent-cover-bnr").style.display = "none";
        });
        document.getElementById("consent-escape-btn").addEventListener('click', function(){
            document.getElementById("consent-escape-btn").innerHTML = "Redirecting to Home...";
        });        
</script> -->

</header>        <!--End Header-->

        <div class="page">

            <div class="page-inner p-none no-border">

                
<!-- breadcrumb navigation -->
<section class="page-header b-bordered t-bordered hpadding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title mt-5">Car Insurance</h1>

        <nav class="c-breadcrumb-1 -style-icons pull-right">
            <ol class="c-breadcrumb-1-inner">

              <li class="c-breadcrumb-1-item">
                <a href="index.html" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                </a>
              </li>

              <li class="c-breadcrumb-1-item">
                <a href="car-insurance.html" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                  Get a quote
                </a>
              </li>
              
              <li class="c-breadcrumb-1-item">
                <a href="car-insurance.html" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-car" aria-hidden="true"></i>
                  Auto Insurance
                </a>
              </li>
            </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!--the floating button-->
<div class="wow-bmp wow-bmp-pos-b wow-bmp-effect-fade">

  <input type="checkbox">
  <a href="#" class="color-white hcolor-black">
    <i class="color-black hcolor-white fa fa-bank"></i>
  </a>

  <ul>
    <li>
      <a href="test/get-a-life-insurance-quote/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-umbrella"></i>
      </a>
      <em class="tl">
          <h3>Life Insurance </h3>
          Let's help you protect what matters most
          <br>now and in the years to come.
      </em>
    </li>
    <li>
      <a href="test/get-a-home-insurance-quote/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-home"></i>
      </a>
      <em class="tl">
          <h3>Custodian Home Shield </h3>
          A 4-in-1 combination cover to protect
          <br>your household contents. Get a quote today!
      </em>
    </li>
    <li>
      <a href="test/get-a-auto-insurance-quote/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-car"></i>
      </a>
      <em class="tl">
          <h2>Auto Insurance </h2>
          Get an online auto insurance quote that meets
          <br> your Third Party &amp; Comprehensive insurance needs.
          <br> It is fast, easy and convenient.
      </em>
    </li>
    <li>
      <a href="test/get-a-travel-insurance-quote/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-plane"></i>
      </a>
      <em class="tl">
          <h3> Travel Insurance </h3>
          Wherever you may wish to go, have a fun filled trip.
          <br>Let us deal with all your concerns.
          <br>Get your Travel Insurance Cover today!
      </em>
    </li>
    <li>
      <a href="http://marine.custodiansme.com/" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-anchor"></i>
      </a>
      <em class="tr">
          <h3> Marine Insurance </h3>
          We cover your losses
          <br> on the sea, from the point of origin
          <br> to the final destination.
      </em>
    </li>
    <li>
      <a href="#" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-money"></i>
      </a>
      <em class="tr">
          <h3> Wealth Management </h3>
          Let us help you grow and sustain your wealth from Generation to Generation
          <br>
      </em>
    </li>
    <li>
      <a href="http://www.crusaderpensions.com/" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-external-link-square"></i>
      </a>
      <em class="tr">
          <h3> CrusaderSterling Pensions </h3>
          Focus on you and your
          <br> future. Learn more.
      </em>
    </li>
    <li>
      <a href="contact/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-address-card"></i>
      </a>
      <em class="tr">
          <h3>Make your Claim</h3>
          No stories. No delays.
          <br> It's easy and seamless.
      </em>
    </li>
    <li>
      <a href="contact/index.html" class="color-white hcolor-black" target="_blank">
          <i class="color-black hcolor-white fa fa-envelope-open"></i>
      </a>
      <em class="tr">
          <h3> Care Centre </h3>
          We would love to hear from you.
          <br> Please contact our customer care center.
      </em>
    </li>
  </ul>
</div><style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="img/loader.gif" >
  </div>
</div>
  </div>
</div>
        @RenderBody()
               </div>

            <footer class="footer stylelamas" style="margin-top:40px;">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Newsletter</h4>
            </div>
            <p class="mb-10">
              Please enter your email address to subscribe to our newsletter. Don't worry, you can opt out at anytime.
            </p>

            <div class="clearfix">
              <form action="https://custodianplc.com.ng/newsletter/request" method="POST">
                <input type="hidden" name="_token" value="u7yPMr3uougBJd2LhUaYl7lvUbh0cdDOxjBaAdk6">
                  <div class="input-group">
                    <div class="input-group">
                      <input required class="form-control" placeholder="Email Address" name="email" id="email" type="email">
                    </div>                      
                </div>
                <button
                  style="display: block; margin-top: 5px"
                  type="submit"
                  class="btn btn-primary btn-class"
                >
                  Subscribe
                </button>
              </form>

              <div class="clearfix social-wrap mt-25">
                <ul class="list-inline">
                  <li>
                    <a href="https://twitter.com/CustodianPLC" class="asc_twitter clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-twitter"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Twitter</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/CustodianPLC/" class="asc_facebook clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-facebook"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Facebook</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.instagram.com/custodianplc" class="asc_instagram clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-instagram"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Instagram</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.linkedin.com/company/custodianplc" class="asc_linkedin clearfix" target="blank">
                        <span class="social-icon"><i class="ion-social-linkedin"></i></span>
                        <div class="meta clearfix">
                          <strong class="asc_count">Follow Us</strong>
                          <div class="name">on LinkedIn</div>
                        </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Custodian Investment Plc</h4>
            </div>
            <ul class="list-unstyled">
              <li> <a href="custodian-and-allied-insurance-limited.html">Custodian and Allied Insurance Limited (CAIL)</a></li>
              <li> <a href="custodian-life-assurance-limited.html">Custodian Life Assurance Limited (CLA)</a></li>
              <li> <a href="trustees-limited.html" >Custodian Trustees Limited (CTL)</a></li>
              <li> <a href="http://www.crusaderpensions.com/" target="_blank">CrusaderSterling Pensions Limited (CSP)</a> </li>
              <li> <a href="https://updcplc.com/" target="_blank">UACN Property Development Company Plc. (UPDC)</a> </li>
              
            </ul>
          </section>
        </div>

        <div class="col-md-3">
          <section>
            <div class="heading">
              <h4 class="title">Get In Touch</h4>
            </div>

            <div class="map-img">
              <address>
                <i class="ion-ios-location"></i> <strong> Address</strong><br>
                16A, Commercial Avenue, Sabo, Yaba, Lagos<br>
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234)12774000-9<br>
              <abbr title="Email Address"><strong>Email:</strong></abbr> carecentre@custodianinsurance.com<br><br>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline fs-11 mb-none">
            <li><p class="mb-0 fw-6">© 2023 Custodian Investment Plc</p></li>
          </ul>
        </div>
        <div class="col-sm-6"> 
          <ul class="footer-socials list-inline pull-right mb-none">
            <li> <a href="privacy-policy.html" target="_blank">PRIVACY POLICY</a> </li>
			<li><a href="#"> | </a></li>
            <li><a href="documents/WHISTLE_BLOWING_POLICY.pdf" target="_blank">WHISTLE BLOWING POLICY</a></li>
			<li><a href="#"> | </a></li>
            <li><a href="whistleblower.html">WHISTLE BLOWER</a></li>
            <li><a href="#"> | </a></li>
			<li><a href="#">TERMS AND CONDITIONS</a></li>
			<li> | </li>
            <li><a href="complaints-procedure.html">COMPLAINTS PROCEDURE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
        </div>
    </div>

    <!-- Vendor -->
    <!-- <script src="https://custodianplc.com.ng/vendor/jquery/jquery-3.2.1.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script> -->
    <script src="vendor/jquery/jquery136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
   <!-- <script src="https://custodianplc.com.ng/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script> -->
    <script src="vendor/jquery/jquery.nav136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/jquery/jquery.validate136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/jquery.appear/jquery.appear.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/jquery.easing/jquery.easing.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="vendor/jquery-cookie/jquery-cookie.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

	<script src="js/theme136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	
	
	<script src="vendor/air-datepicker/datepicker.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<!-- Include English language -->
	<script src="vendor/air-datepicker/i18n/datepicker.en136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    
    <script src="vendor/inputmask/dist/jquery.mask136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    <script src="vendor/magnific-popup/jquery.magnific-popup136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/modernizr/modernizr.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/tether/tether.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/bootstrap/js/bootstrap.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/menuzord/menuzord136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/sticky/jquery.sticky.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/isotope/jquery.isotope.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/respond/respond136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/smoothscroll/smooth.scroll.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/images-loaded/imagesloaded136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/owl.carousel/owl.carousel.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/cubeportfolio/js/jquery.cubeportfolio.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/flex-slider/jquery.flexslider-min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/dzsparallaxer/dzsparallaxer136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/wow/wow.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="vendor/lite-tooltip/js/litetooltip136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="js/functions136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    

    <!-- Custom JS -->
    <script src="js/custom136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    
    <script src="vendor/moment/moment-with-locales.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    <!-- Style Swicher -->
    <script src="vendor/style-switcher/style.switcher136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
    <script src="vendor/style-switcher/style.switcher.localstorage136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
    <script src="js/car136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    
    <script src="vendor/node_modules/sweetalert2/dist/sweetalert2.min136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

		<script src="vendor/sweetalert/sweetalert.all136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

    <!-- Include all library files -->
    <script src="javascript/library/lib_core136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_date136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_val136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_file136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_api136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_dom136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_loader136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_currency136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    <script src="javascript/library/lib_browser136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
    
    <script>
        $('.datepicker').datepicker({
            uiLibrary: 'bootstrap4' 
        });

        $(document).on('ready', function() {
            $('.phone_mask').mask("0xxxxxxxxxx", {'translation': {
                    0: {pattern: /[0]/},
                    x: {pattern: /[0-9]/},
				}, placeholder: '0xxxxxxxxxx'});
			
			// FIX: TO TRIGGER ON CHANGE WHENEVER A DATE IS SELECTED.
			/* $('.datepicker-here').datepicker({
				onSelect: function(formattedDate, date, inst) {
					$(inst.el).trigger('change');
				}
			}); */
		});
		
		/*--------------------------------------------------------------- 
		|	FILE VALIDATION METHOD:
		|----------------------------------------------------------------
		| 	Validates if the file is of the right format and size.
		|	If yes: Preview is shown.
		|	If no: Alert goes off telling the user the input error.
		|--------------------------------------------------------------*/
		var validateFile = function(fileDOM, fileTextDOM, fileSize=2097152) {
		// This is where the text display input is filled.
		// with the value of the object returned.
		var url = fileDOM.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
		if (fileDOM.files && fileDOM.files[0] && fileDOM.files[0].size <= fileSize) {
				if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "pdf") {
					$(fileTextDOM).val(fileDOM.value);
					var type = '<img class="img-thumbnail" src="" id="salert_img_preview"  style="max-height:300px;max-width:400px;" />';
			
					if(ext == "pdf") {
						type = '<iframe src="" id="salert_img_preview" width="400px" height="450px"></iframe>';
					}
					
					var reader = new FileReader();
					reader.onload = function (e) {
						$('#salert_img_preview').attr('src', e.target.result);
						localStorage.setItem('imgprev_cust_b64', e.target.result);
						// console.log(e.target.result);
					}
					reader.readAsDataURL(fileDOM.files[0]);
				
					// Show the preview using sweetalert!
					swal({
						title: 'Preview',
						html: type
					});
				} else {
					$(fileTextDOM).val('');
					$(fileDOM).val('');
					swal({
						type: 'error',
						title: 'File format not supported',
						html: '<hr><strong>You can only upload image and pdf files</strong>'
					});
				}
			} else {
				$(fileTextDOM).val('');
				$(fileDOM).val('');
				swal({
					type: 'error',
					title: 'Upload size limit exceeded',
					html: '<hr><strong>Upload size limit is ' + getPrettyFileSize(fileSize) + '</strong>'
				});
			}       
		}
		// DONE WITH FILE VALIDATION
		
		/*-------------------------------------------------------------------- 
		|	METHOD TO DISPLAY FILE SIZE IN PRETTY FORMAT.
		|	Bytes to any other labelled size.
		|-------------------------------------------------------------------*/
		var getPrettyFileSize = function(fileSize, key=0) {
			var postfix = ['B','KB', 'MB', 'GB', 'TB'];
			if (fileSize < 1024) {
				return fileSize + ' ' + postfix[key];
			} else {
				key++;
				fileSize = (fileSize / 1024);
				return getPrettyFileSize(fileSize, key);
			}
		}

		/*------------------------------------------------------------- 
		|	DO THE DATE VALIDATIONS HERE.
		|------------------------------------------------------------*/
		
		$(document).ready(function() {
			$('.datepicker-here').datepicker({
				onSelect: function(formattedDate, date, inst) {
					$(inst.el).trigger('change');
				}
			});

			$('#date_of_birth, #travellers_date_of_birth, #beneficiary_dob').datepicker({
				maxDate: new Date()
			});

			$('#departure_date, #return_date, #insurance_start_date, #start_date').datepicker({
				minDate: new Date()
			});
		});

		/*------------------------------------------------------------- 
		|	END THE DATE VALIDATIONS HERE.
		|------------------------------------------------------------*/
    </script>

    <script type="text/javascript">
        function printThis(){
            $("printMe").printElement();    
        }
	 </script>
	 
	<script type="text/javascript" language="javascript" src="../custodiancm.outcess.com_8443/ameyochatjs/ameyo-webchat-integration.js" defer></script>

    <script type="text/javascript" src="javascript/controllers/ameyo_controller.js" defer></script>

    
<!-- <script
  type="text/javascript"
  language="javascript"
  src="https://livechat.drishti.com.mv/ameyochatjs/ameyo-emerge-chat.js"
  async defer
></script> -->

<script src="js/global/core136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="js/global/modal136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="js/global/validate136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="js/global/ajaxcalls136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>

<script src="js/car-insurance/ajaxcalls136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="js/car-insurance/index136e.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>

<script>

  // Call ameyo script

  // setUpAmeyoScript();
  
  /**
   * The data should be in sync with the template in use
   */

  /**
   * Call the ajax api end to download quote and pass routtes and data to it
   * The data miust contain the template file name without the blade.php
  */
  function downloadQuote() {
    var quoteData = getQuoteData("u7yPMr3uougBJd2LhUaYl7lvUbh0cdDOxjBaAdk6");
    GlobalAjaxAPI.callDownloadQuote(
      "index.html",
      "index.html",
      quoteData
    );
  }

  /**
   * Call the ajax api end to send quote and pass routtes and data to it
   * The data miust contain the template file name without the blade.php
  */

  function sendQuote() {

    runIfComprehensive(function(){
      var leadData = getLeadData("u7yPMr3uougBJd2LhUaYl7lvUbh0cdDOxjBaAdk6");
      GlobalAjaxAPI.callEndpoint(
        "general/leadgeneration.html",
        leadData,
        function() { MODAL.showModal('loader-modal')},
        function(result) {
          // console.log(result);
          MODAL.hideModal();
          $('#submit-quote-button').hide();
          setTimeout(function(){
            window.location = 'car-insurance.html';
          }, 5000);
        },
        function(error) {
          // console.log(error);
        }
      );
    });

    var quoteData = getQuoteData("u7yPMr3uougBJd2LhUaYl7lvUbh0cdDOxjBaAdk6");
    GlobalAjaxAPI.callSendQuote(
      "general/quote/email.html",
      quoteData
    );
  }

</script>
@*
  ---------------------------------------------
  |         For vehicleDetails                 |
  ----------------------------------------------
*@
<script>
  $(document).ready(function() {
  // Define the options for each type of cover
  var optionsByCoverType = {
    'Third Party': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial (Own Goods/Staff Bus)' },
      { value: 'Commercial (Truck)', text: 'Commercial (Truck/General Cartage)' }
    ],
    'Third Party Fire and Theft': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial' }
    ],
    'Comprehensive': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial' }
    ]
  };

  // Define a function to populate the options of the Vehicle_Category select element
  function populateVehicleCategoryOptions(options) {
  var vehicleCategorySelect = $('#Vehicle_Category');
  vehicleCategorySelect.empty(); // Remove existing options
  vehicleCategorySelect.append($('<option>', {
    value: '',
    text: 'Select One'
  }));
  $.each(options, function(index, option) {
    vehicleCategorySelect.append($('<option>', {
      value: option.value,
      text: option.text
    }));
  });
}

  // Populate initial options for Vehicle Category select element
  populateVehicleCategoryOptions(optionsByCoverType['Third Party']);

  // Update options for Vehicle Category select element when Type of Cover changes
  $('#type_of_cover').on('change', function() {
    var selectedCoverType = $(this).val();
    populateVehicleCategoryOptions(optionsByCoverType[selectedCoverType]);
  });

  // Update options for Payment Option select element when Type of Cover changes
  function updatePaymentOptionOptions(selectedCoverType) {
    var paymentOptionSelect = $('#payment_option');
    paymentOptionSelect.empty(); // Remove existing options
    if (selectedCoverType === 'Comprehensive') {
      paymentOptionSelect.append($('<option>', {
        value: 'Annually',
        text: 'Annually'
      }));
      paymentOptionSelect.append($('<option>', {
        value: 'Bi-Annually',
        text: 'Bi-Annually'
      }));
      paymentOptionSelect.append($('<option>', {
        value: 'Quarterly',
        text: 'Quarterly'
      }));
    } else {
      paymentOptionSelect.append($('<option>', {
        value: 'Annually',
        text: 'Annually'
      }));
    }
  }


  // Add an event listener to the type_of_cover select element to update the options of the Vehicle_Category select element when its value changes
  $('#type_of_cover').on('change', function() {
    var selectedCoverType = $(this).val();
    populateVehicleCategoryOptions(optionsByCoverType[selectedCoverType]);
    updatePaymentOptionOptions(selectedCoverType);
  });
});


$(document).ready(function() {
  // Disable the "mode_of_vehicle" select element on document load
  $("#mode_of_vehicle").prop("disabled", true);

  // Enable the "mode_of_vehicle" select element when a vehicle_make is selected
  $("#vehicle_make").change(function() {
    if ($(this).val() !== "") {
      $("#mode_of_vehicle").prop("disabled", false);
    } else {
      $("#mode_of_vehicle").prop("disabled", true);
    }
  });
});

// hide the buy_extension_section on load
  document.getElementById('buy_extension_section').style.display = 'none';
  
  // add an event listener to the cover_type select element
  document.getElementById('type_of_cover').addEventListener('change', function() {
    // if the selected value is Comprehensive, show the buy_extension_section
    if (this.value === 'Comprehensive') {
      document.getElementById('buy_extension_section').style.display = 'block';
    } else {
      // otherwise, hide it
      document.getElementById('buy_extension_section').style.display = 'none';
    }
  });

  function toggle() {
  var extensionsList = document.getElementById("extentions-list");
  if (document.getElementById("group_checkbox").checked) {
    extensionsList.style.display = "block";
  } else {
    extensionsList.style.display = "none";
  }
}


</script>
</body>