
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Events Insurance in Nigeria – Custodian and Allied Insurance Ltd.</title>

<link rel="canonical" href="https://custodianplc.com.ng/events-insurance"/>
<meta name="description" content="Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
<meta property="og:title" content=" Events Insurance in Nigeria – Custodian and Allied Insurance Ltd." />
<meta property="og:description" content=" Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />
<meta property="og:url" content="https://custodianplc.com.ng/events-insurance" />
<meta name="twitter:title" content=" Events Insurance in Nigeria – Custodian and Allied Insurance Ltd." />
<meta name="twitter:description" content=" Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />

<meta name="author" content="custodianplc.com.ng">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="csrf-token" content="lZJejUMGEQBQUYmjmjGSF0SfprPmPfBHqLGldsed">
<link rel="shortcut icon" href="https://custodianplc.com.ng/img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

<link rel="stylesheet" href="~/vendor/tether/tether.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true"/>


<link rel="stylesheet" href="~/vendor/node_modules/sweetalert2/dist/sweetalert2.css" asp-append-version="true">

<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/vendor/bootstrap/css/glyphicon.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/ion-icons/css/ionicons.min.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/cubeportfolio/css/cubeportfolio.min.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css" asp-append-version="true">
<link rel="stylesheet" href="~/vendor/dzsparallaxer/dzsparallaxer.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/menuzord/css/skins/menuzord-border-top.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/menuzord/css/menuzord-animations.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/vendor/lite-tooltip/css/litetooltip.css" asp-append-version="true"/>

<link href="~/css/style.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/portfolio.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/main-shortcodes.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/shortcodes.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/header.css" rel="stylesheet" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true"?>
<link href="~/css/form-element.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/animation.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/utilities.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/skins/default.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/index.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/style4.css" rel="stylesheet" asp-append-version="true"/> <!-- Pricing CSS -->
<link href="~/vendor/pricing-tables/main.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/vendor/pricing-tables/responsive.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/vendor/pricing-tables/style_9.css" rel="stylesheet" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/smart-forms/smart-addons.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/smart-forms/smart-forms.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/date-picker/gijgo.min.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/personalStyles/aboutStyle.css" asp-append-version="true"/>
<link href="~/vendor/style-switcher/style-switcher.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/custom.css">

<!-- Date Picker -->
<link rel="stylesheet" href="~/vendor/air-datepicker/datepicker.min.css" asp-append-version="true"/>

<script type="text/javascript" language="javascript" src="https://custodiancm.outcess.com:8443/ameyochatjs/ameyo-emerge-chat.js" defer></script>

<script type="text/javascript" src="~/javascript/controllers/ameyo_controller.js" asp-append-version="true"></script>

<style>
	.no-show {
		display: none;
	}
</style>  <link rel="stylesheet" href="~/css/travel.css">
<style>
  #summary {
    font-size: 14px;
    line-height: 1.5;
  }

  #summary div.collapse:not(.show) {
      height: 42px !important;
      overflow: hidden;
    
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
  }
  #validation-message{
    display:block;
    max-height: 150px;
    color: red;
  }
  #summary div.collapsing {
      min-height: 42px !important;
  }

  #summary a {
    color: #ffffff;
  }

  #summary a.collapsed:after  {
      content: '+ read more';
  }

  #summary a:not(.collapsed):after {
      content: '- read less';
  }
</style>
</head>

<body>

  <style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="https://custodianplc.com.ng/img/loader.gif" >
  </div>
</div>
  </div>
</div>  <input
  type="hidden"
  route-name="send-template-mail"
  value="https://custodianplc.com.ng/send-template-mail"
>

<input
  type="hidden"
  route-name="save-generated-pdf"
  value="https://custodianplc.com.ng/save-generated-pdf"
>

<input
  type="hidden"
  route-name="download-pdf"
  value="https://custodianplc.com.ng/download-pdf/:path"
>  
  <div class="wrapper">

    <header class="l-header l-center-t">
  <div class="l-navbar l-navbar_t-light js-navbar-sticky">
    <div class="container">
      <nav
        class="menuzord js-primary-navigation"
        data-plugin-menuzord data-plugin-options="{'align': 'right'}"
        aria-label="Primary Navigation"
      >
        <a href="https://custodianplc.com.ng" class="logo-brand">
          <img
            class="retina"
            src="https://custodianplc.com.ng/img/logo-white.png"
            data-logo="https://custodianplc.com.ng/img/logo-white.png"
            alt="custodian-logo"
          />
        </a>

        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
          <li>
            <a href="#">About us</a>
            <ul class="dropdown"> 
              <li><a href="https://custodianplc.com.ng/about-us">About us</a></li>
              <li>
                <a href="#">Subsidiaries</a>
                <ul class="dropdown">
                  <li>
                    <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">
                      Custodian And Allied Insurance Ltd
                    </a>
                  </li>
                  <li>
                    <a href="https://custodianplc.com.ng/custodian-life-assurance-limited">
                      Custodian Life Assurance Ltd
                    </a>
                  </li>
                  <li> <a href="https://custodianplc.com.ng/trustees-limited">Custodian Trustees Ltd</a> </li>
                  <li>
                    <a href="http://www.crusaderpensions.com/" target="_blank">
                      Crusader Sterling Pensions Ltd
                    </a>
                  </li>
                  <li>
                    <a href="https://updcplc.com/" target="_blank">
                      UPDC Plc
                    </a>
                  </li>
                </ul> 
              </li>
              <li>
                <a href="#">Investor relations</a>
                <ul class="dropdown">
                  <li><a href="https://custodianplc.com.ng/financials">Financials</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/10vnich1iLm-sdNQn3wOEvfiOQjIX5pVf/view?usp=sharing">
                      Whistle Blowing Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1L9iHFwfxpemda0cd8b1DfZAxJ7xvfqLg/view?usp=sharing">
                      Securities Trading Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1TyDbOqkNYEeyaOB94oFNmiNQJzxzwd0p/view?usp=sharing">
                      Stakeholder Management and Communication Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1oE8utyfuBCdjgN4-sFW1IYtRvYxV39EQ/view?usp=sharing">
                      Complaints Management Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1ijLC_hWwsesYhhSfkDhEvLXknAjuxPVB/view?usp=sharing">
                      Notice of AGM by Proxy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://custodianplc.com.ng/investors_uploads/E-DIVIDEND_MANDATE_CARD_CUSTODIAN_INVESTMENT_PLC.pdf">
                      E-Dividend Mandate Card
                    </a>
                  </li>
                  <li><a href="https://custodianplc.com.ng/complaint-lodgement">Complaint Lodgement</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1rB__SkV6NFNw5yCMWl9lnwvuEaGJ_XHl/view?usp=sharing">
                    Nigerian Code of Corporate Governance
                    </a>
                  </li>
                  <li>
                  
                  <a target="_blank" href=" https://youtu.be/N4EdAbNspUE">
                    <!-- <a target="_blank" href="http://bit.ly/CustodianAGM2021 "> -->
                    AGM Live Streaming
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1dWClryEwglCUcAPtSgwG4b-sg5iUGJjr/view?usp=sharing">
                    Unclaimed Dividends List
                    </a>
                  </li>
                </ul>
              </li>
              <li> <a href="https://custodianplc.com.ng/Resource-Center">Resource center</a> </li>
            </ul>
          </li>

          <li class="">
            <a href="#">Products</a>
            <ul class="dropdown">
              <li>
                <a href="#">General Insurance Products</a>
                <ul class="dropdown">
                  <li><a class="consent-link" href="https://custodianplc.com.ng/car-insurance"> Auto Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/travel-insurance">Travel Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/home-shield">Home Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/safety-plus-plan">Safety Plus</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/events-insurance">Events Insurance</a></li>
                  <li><a  href="#">Others</a></li>
                </ul>
              </li>

              <li>
                <a href="#">Life Insurance Products</a>
                <ul class="dropdown ">
                  <li>
                    <a href="#">Savings & Investment</a>
                    <ul class="dropdown">
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/capital-builder">Capital Builder</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/esusu-shield">Esusu Shield</a> </li>                     
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/personal-provident-plan">Personal Provident Plan</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/investment-plus-plan">Investment Plus Plan</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/wealth-plus">Wealth Plus Plan</a> </li>
                    </ul> 
                  </li>
                  <li>
                    <a href="#">Endowment Policies</a> 
                    <ul class="dropdown">
                      <li><a class="consent-link" href="https://custodianplc.com.ng/education-endowment ">Education Endowment</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/life-time-harvest"> Life Time Havest</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/ordinary-endowment">Ordinary Endowment</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Protection</a>
                    <ul class="dropdown">
                      <li><a class="consent-link" href="https://custodianplc.com.ng/term-assurance">Term Assurance</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/whole-life-assurance">Whole Life Assurance </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/dignity-plan">Dignity Plan </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/tuition-protection">Tuition Protection </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/critical-illness-insurance">Critical Illness Cover </a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Annuities</a> 
                    <ul class="dropdown">
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/deferred-annuity-plan">Deferred Anuity</a> </li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/immediate-annuity-plan">Immediate Annuity</a> </li>
                      <li> <a class="consent-link"   href="https://custodianplc.com.ng/retiree-annuity-plan">Retiree Life Annuity</a> </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Corporate</a> 
                    <ul class="dropdown">
                      <li> <a  href="https://custodianplc.com.ng/group-credit">Group Credit Life</a> </li>
                      <li> <a href="https://custodianplc.com.ng/group-life">Group Life</a> </li>
                    </ul>
                  </li>
                  <li> <a href="https://custodianplc.com.ng/life-products">Others</a> </li>
                </ul>
              </li>
              
              <li><a href="https://custodianplc.com.ng/trustees-limited">Trustees</a></li>
              <li><a href="https://www.crusaderpensions.com" target="blank">Pensions</a></li>   
              <li><a href="https://updcplc.com" target="_blank">Real Estate</a></li> 
            </ul>
		  </li>                           
		  
		  <li> <a href="https://custodianplc.com.ng/key-moments">Key Moments</a></li> 
          <li> <a href="#" target="blank">Careers</a></li> 
          <li> <a href="https://custodianplc.com.ng/csr-foundation">CSR </a></li>
		  <li> <a href="https://custodianplc.com.ng/claim">Claim </a></li> 
		  <li>
            <a href="#">Contact</a>
            <ul class="dropdown">
              
              <li><a href="https://custodianplc.com.ng/contacts">Contact us</a></li>
              <li><a href="https://custodianplc.com.ng/branches">Our Branches</a></li>
             
            </ul> 
      </li>

          <li class="nav-divider" aria-hidden="true"><a href="javascript:void(0)">|</a> </li>   
          <li class="social-item">
            <a href="https://twitter.com/CustodianPLC" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://facebook.com/CustodianPLC/" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/custodianplc" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>      
          <li class="btn-item">
            <a href="#" target="blank">
              <div class="btn btn-white btn-shadow btn-bordered btn-bordered-1x">Chat Max</div>
            </a>
		      </li>
         
              
         
        </ul>
      </nav>
    </div>
  </div>

</header>
    <div class="page">
      <div class="page-inner p-none no-border">
        <!-- breadcrumb navigation -->
<section class="page-header b-bordered t-bordered hpadding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title mt-5">Events Insurance</h1>
        <nav class="c-breadcrumb-1 -style-icons pull-right">
          <ol class="c-breadcrumb-1-inner">

            <li class="c-breadcrumb-1-item">
              <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
              </a>
            </li>

            

            <li class="c-breadcrumb-1-item">
              <a class="c-breadcrumb-1-link">
                <i class="c-breadcrumb-1-icon " aria-hidden="true"></i>
                Events Insurance
              </a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="https://custodianplc.com.ng/img/loader.gif" >
  </div>
</div>
  </div>
</div>
<section class="section-primary" style="background-color:#ffffff;">
  <div class="container-fluid padform" style="padding-top:15px; padding-left:100px;">
    
  @RenderBody();
  </div>
</section>

      </div>
      <footer class="footer stylelamas" style="margin-top:40px;">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Newsletter</h4>
            </div>
            <p class="mb-10">
              Please enter your email address to subscribe to our newsletter. Don't worry, you can opt out at anytime.
            </p>

            <div class="clearfix">
              <form action="https://custodianplc.com.ng/newsletter/request" method="POST">
                <input type="hidden" name="_token" value="lZJejUMGEQBQUYmjmjGSF0SfprPmPfBHqLGldsed">
                  <div class="input-group">
                    <div class="input-group">
                      <input required class="form-control" placeholder="Email Address" name="email" id="email" type="email">
                    </div>                      
                </div>
                <button
                  style="display: block; margin-top: 5px"
                  type="submit"
                  class="btn btn-primary btn-class"
                >
                  Subscribe
                </button>
              </form>

              <div class="clearfix social-wrap mt-25">
                <ul class="list-inline">
                  <li>
                    <a href="https://twitter.com/CustodianPLC" class="asc_twitter clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-twitter"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Twitter</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/CustodianPLC/" class="asc_facebook clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-facebook"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Facebook</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.instagram.com/custodianplc" class="asc_instagram clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-instagram"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Instagram</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.linkedin.com/company/custodianplc" class="asc_linkedin clearfix" target="blank">
                        <span class="social-icon"><i class="ion-social-linkedin"></i></span>
                        <div class="meta clearfix">
                          <strong class="asc_count">Follow Us</strong>
                          <div class="name">on LinkedIn</div>
                        </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Custodian Investment Plc</h4>
            </div>
            <ul class="list-unstyled">
              <li> <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">Custodian and Allied Insurance Ltd</a></li>
              <li> <a href="https://custodianplc.com.ng/custodian-life-assurance-limited">Custodian Life Assurance Ltd</a></li>
              <li> <a href="https://custodianplc.com.ng/trustees-limited" >Custodian Trustees Ltd</a></li>
              <li> <a href="http://www.crusaderpensions.com/" target="_blank">CrusaderSterling Pensions Ltd</a> </li>
              <li> <a href="https://updcplc.com/" target="_blank">UPDC Plc</a> </li>
              
            </ul>
          </section>
        </div>

        <div class="col-md-3">
          <section>
            <div class="heading">
              <h4 class="title">Get In Touch</h4>
            </div>

            <div class="map-img">
              <address>
                <i class="ion-ios-location"></i> <strong> Address</strong><br>
                16A, Commercial Avenue, Sabo, Yaba, Lagos<br>
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234)12774000-9<br>
              <abbr title="Email Address"><strong>Email:</strong></abbr> carecentre@custodianinsurance.com<br><br>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline fs-11 mb-none">
            <li><p class="mb-0 fw-6">© 2023 Custodian Investment Plc</p></li>
          </ul>
        </div>
        <div class="col-sm-6"> 
          <ul class="footer-socials list-inline pull-right mb-none">
            <li> <a href="https://custodianplc.com.ng/privacy-policy" target="_blank">PRIVACY POLICY</a> </li>
			<li><a href="#"> | </a></li>
            <li><a href="https://custodianplc.com.ng/documents/WHISTLE_BLOWING_POLICY.pdf" target="_blank">WHISTLE BLOWING POLICY</a></li>
			<li><a href="#"> | </a></li>
            <li><a href="https://custodianplc.com.ng/whistleblower">WHISTLE BLOWER</a></li>
            <li><a href="#"> | </a></li>
			<li><a href="#">TERMS AND CONDITIONS</a></li>
			<li> | </li>
            <li><a href="https://custodianplc.com.ng/complaints-procedure">COMPLAINTS PROCEDURE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>    </div>

  </div>

  <script src="~/vendor/sweetalert/sweetalert.all.js"></script>
  <script src="~/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"
  type="text/javascript"
></script>

<script src="~/vendor/jquery/jquery.nav.js" asp-append-version="true"></script>
<script src="~/vendor/jquery/jquery.validate.js" asp-append-version="true"></script>
<script src="~/vendor/jquery.appear/jquery.appear.min.js" asp-append-version="true"></script>
<script src="~/vendor/jquery.easing/jquery.easing.min.js" asp-append-version="true"></script>
<script src="~/vendor/jquery-cookie/jquery-cookie.min.js" asp-append-version="true"></script>

<script src="~/vendor/air-datepicker/datepicker.min.js" asp-append-version="true"></script>
<!-- Include English language -->
<script src="~/vendor/air-datepicker/i18n/datepicker.en.js" asp-append-version="true"></script>

<script src="~/vendor/inputmask/dist/jquery.mask.js" asp-append-version="true"></script>

<script src="~/vendor/magnific-popup/jquery.magnific-popup.js" asp-append-version="true"></script>
<script src="~/vendor/modernizr/modernizr.min.js" asp-append-version="true"></script>
<script src="~/vendor/tether/tether.min.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/vendor/menuzord/menuzord.js" asp-append-version="true"></script>
<script src="~/vendor/sticky/jquery.sticky.min.js" asp-append-version="true"></script>
<script src="~/vendor/isotope/jquery.isotope.min.js" asp-append-version="true"></script>
<script src="~/vendor/respond/respond.js" asp-append-version="true"></script>
<script src="~/vendor/smoothscroll/smooth.scroll.min.js" asp-append-version="true"></script>
<script src="~/vendor/images-loaded/imagesloaded.js" asp-append-version="true"></script>
<script src="~/vendor/owl.carousel/owl.carousel.min.js" asp-append-version="true"></script>
<script src="~/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js" asp-append-version="true"></script>
<script src="~/vendor/flex-slider/jquery.flexslider-min.js" asp-append-version="true"></script>
<script src="~/vendor/dzsparallaxer/dzsparallaxer.js" asp-append-version="true"></script>
<script src="~/vendor/wow/wow.min.js" asp-append-version="true"></script>
<script src="~/vendor/lite-tooltip/js/litetooltip.js" asp-append-version="true"></script>
<script src="~/js/functions.js" asp-append-version="true"></script>
<script src="~/js/theme.js" asp-append-version="true"></script>

<script src="~/js/custom.js" asp-append-version="true"></script>

<script src="~/vendor/style-switcher/style.switcher.js" asp-append-version="true" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
<script src="~/vendor/style-switcher/style.switcher.localstorage.js" asp-append-version="true"></script>
<script src="~/js/car.js" asp-append-version="true"></script>


<script src="~/vendor/node_modules/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>


<script>

$('.datepicker').datepicker({
  uiLibrary: 'bootstrap4' 
});

function printThis(){
  $("printMe").printElement();    
}

</script>


<script src="~/vendor/moment/moment-with-locales.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<!-- Include all library files -->
<script src="~/javascript/library/lib_core.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_date.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_val.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_file.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_api.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_dom.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_loader.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_currency.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/library/lib_browser.js" asp-append-version="true" type="text/javascript"> </script>

<script src="~/javascript/app/browser.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/app/modal.js" asp-append-version="true" type="text/javascript"> </script>
<script src="~/javascript/app/api.js" asp-append-version="true" type="text/javascript"> </script>

<script src="~/javascript/parameters/app_parameters.js" asp-append-version="true" type="text/javascript"></script>
<script src="~/javascript/controllers/app_controller.js" asp-append-version="true" type="text/javascript"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115610004-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-115610004-1');

  	$(document).on('ready', function() {
		$('.phone_mask').mask("0xxxxxxxxxx", {'translation': {
				0: {pattern: /[0]/},
				x: {pattern: /[0-9]/},
			}, placeholder: '0xxxxxxxxxx'});

		// FIX: TO TRIGGER ON CHANGE WHENEVER A DATE IS SELECTED.
		/* $('.
    ').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		}); */
	});

	/*--------------------------------------------------------------- 
	|	FILE VALIDATION METHOD:
	|----------------------------------------------------------------
	| 	Validates if the file is of the right format and size.
	|	If yes: Preview is shown.
	|	If no: Alert goes off telling the user the input error.
	|--------------------------------------------------------------*/
	var validateFile = function(fileDOM, fileTextDOM, fileSize=2097152) {
		// This is where the text display input is filled.
		// with the value of the object returned.
		var url = fileDOM.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
		if (fileDOM.files && fileDOM.files[0] && fileDOM.files[0].size <= fileSize) {
			if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "pdf") {
				$(fileTextDOM).val(fileDOM.value);
				var type = '<img class="img-thumbnail" src="" id="salert_img_preview"  style="max-height:300px;max-width:400px;" />';
		
				if(ext == "pdf") {
					type = '<iframe src="" id="salert_img_preview" width="400px" height="450px"></iframe>';
				}
				
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#salert_img_preview').attr('src', e.target.result);
					// console.log(e.target.result);
				}
				reader.readAsDataURL(fileDOM.files[0]);
			
				// Show the preview using sweetalert!
				swal({
					title: 'Preview',
					html: type
				});
			} else {
				$(fileTextDOM).val('');
				$(fileDOM).val('');
				swal({
					type: 'error',
					title: 'File format not supported',
					html: '<hr><strong>You can only upload image and pdf files</strong>'
				});
			}
		} else {
			$(fileTextDOM).val('');
			$(fileDOM).val('');
			swal({
				type: 'error',
				title: 'Upload size limit exceeded',
				html: '<hr><strong>Upload size limit is ' + getPrettyFileSize(fileSize) + '</strong>'
			});
		}
	}
	// DONE WITH FILE VALIDATION

	var getPrettyFileSize = function(fileSize, key=0) {
		var postfix = ['B','KB', 'MB', 'GB', 'TB'];
		if (fileSize < 1024) {
			return fileSize + ' ' + postfix[key];
		} else {
			key++;
			fileSize = (fileSize / 1024);
			return getPrettyFileSize(fileSize, key);
		}
	}

	/*------------------------------------------------------------- 
	|	DO THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
	
	$(document).ready(function() {
		$('.datepicker-here').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		});

		$('#date_of_birth, #travellers_date_of_birth, #beneficiary_dob').datepicker({
			maxDate: new Date()
		});

		$('#departure_date, #return_date, #insurance_start_date, #start_date').datepicker({
			minDate: new Date()
		});
	});

	/*------------------------------------------------------------- 
	|	END THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
</script>

 <script type="text/javascript" src="~/javascript/controllers/life_products_index_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="~/javascript/products/life_products/index/config.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="~/javascript/products/life_products/index/handler.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="~/javascript/products/life_products/index/init.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>  <script>
    $(document).on('ready', function() {
        $('#sel_event_holding_type #event_holding_type').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_event_holding_type').hide();
                $('#inp_event_holding_type #event_holding_type').attr("disabled", false);
                $('#inp_event_holding_type').show();
            }
        });
        $('#step-3').show();
        $('#sel_event_type #event_type').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_event_type').hide();
                $('#inp_event_type #event_type').attr("disabled", false);
                $('#inp_event_type').show();
            }
        });

        $('#sel_involvement_details #involvement_details').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_involvement_details').hide();
                $('#inp_involvement_details #involvement_details').attr("disabled", false);
                $('#inp_involvement_details').show();
            }
        });

        $('#event_date').datepicker({
			minDate: new Date()
		});
    })
</script>;
</body>
</html>