
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Safety Plus Plan – Personal Accident Protection.</title>
<link rel="canonical" href="https://custodianplc.com.ng/safety-plus-plan" />
<meta name="description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident." />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
<meta property="og:title" content="Safety Plus Plan – Personal Accident Protection." />
<meta property="og:description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident. "/>
<meta property="og:url" content="https://custodianplc.com.ng/safety-plus-plan" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident." />
<meta name="twitter:title" content="Safety Plus Plan – Personal Accident Protection." />

<meta name="author" content="custodianplc.com.ng">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="csrf-token" content="WSIEwTW4ZaWe4ajkRzQAU6XBPRF4zhcpmefWAwUb">
<link rel="shortcut icon" href="https://custodianplc.com.ng/img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

<link rel="stylesheet" href="~/vendor/tether/tether.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/bootstrap/css/bootstrap.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">


<link rel="stylesheet" href="~/vendor/node_modules/sweetalert2/dist/sweetalert2.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="~/vendor/bootstrap/css/glyphicon.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/ion-icons/css/ionicons.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/cubeportfolio/css/cubeportfolio.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="~/vendor/dzsparallaxer/dzsparallaxer.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/menuzord/css/skins/menuzord-border-top.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/menuzord/css/menuzord-animations.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/vendor/lite-tooltip/css/litetooltip.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

<link href="~/css/style.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/portfolio.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/main-shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/header.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link href="~/css/form-element.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/animation.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/utilities.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/skins/default.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/index.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/css/style4.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" /> <!-- Pricing CSS -->
<link href="~/vendor/pricing-tables/main.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/vendor/pricing-tables/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/vendor/pricing-tables/style_9.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="~/css/smart-forms/smart-addons.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/css/smart-forms/smart-forms.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/css/date-picker/gijgo.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="~/css/personalStyles/aboutStyle.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link href="~/vendor/style-switcher/style-switcher.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="~/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

<!-- Date Picker -->
<link rel="stylesheet" href="~/vendor/air-datepicker/datepicker.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

<script type="text/javascript" language="javascript" src="https://custodiancm.outcess.com:8443/ameyochatjs/ameyo-emerge-chat.js" defer></script>

<script type="text/javascript" src="~/javascript/controllers/ameyo_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<style>
	.no-show {
		display: none;
	}
</style>  <link rel="stylesheet" href="~/css/moneypage.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
</head>

<body>

  <style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="https://custodianplc.com.ng/img/loader.gif" >
  </div>
</div>
  </div>
</div>  <input
  type="hidden"
  route-name="send-template-mail"
  value="https://custodianplc.com.ng/send-template-mail"
>

<input
  type="hidden"
  route-name="save-generated-pdf"
  value="https://custodianplc.com.ng/save-generated-pdf"
>

<input
  type="hidden"
  route-name="download-pdf"
  value="https://custodianplc.com.ng/download-pdf/:path"
>  
  <div class="wrapper">

    <header class="l-header l-center-t">
  <div class="l-navbar l-navbar_t-light js-navbar-sticky">
    <div class="container">
      <nav
        class="menuzord js-primary-navigation"
        data-plugin-menuzord data-plugin-options="{'align': 'right'}"
        aria-label="Primary Navigation"
      >
        <a href="https://custodianplc.com.ng" class="logo-brand">
          <img
            class="retina"
            src="https://custodianplc.com.ng/img/logo-white.png"
            data-logo="https://custodianplc.com.ng/img/logo-white.png"
            alt="custodian-logo"
          />
        </a>

        <ul class="menuzord-menu menuzord-right c-nav_s-standard">
          <li>
            <a href="#">About us</a>
            <ul class="dropdown"> 
              <li><a href="https://custodianplc.com.ng/about-us">About us</a></li>
              <li>
                <a href="#">Subsidiaries</a>
                <ul class="dropdown">
                  <li>
                    <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">
                      Custodian And Allied Insurance Ltd
                    </a>
                  </li>
                  <li>
                    <a href="https://custodianplc.com.ng/custodian-life-assurance-limited">
                      Custodian Life Assurance Ltd
                    </a>
                  </li>
                  <li> <a href="https://custodianplc.com.ng/trustees-limited">Custodian Trustees Ltd</a> </li>
                  <li>
                    <a href="http://www.crusaderpensions.com/" target="_blank">
                      Crusader Sterling Pensions Ltd
                    </a>
                  </li>
                  <li>
                    <a href="https://updcplc.com/" target="_blank">
                      UPDC Plc
                    </a>
                  </li>
                </ul> 
              </li>
              <li>
                <a href="#">Investor relations</a>
                <ul class="dropdown">
                  <li><a href="https://custodianplc.com.ng/financials">Financials</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/10vnich1iLm-sdNQn3wOEvfiOQjIX5pVf/view?usp=sharing">
                      Whistle Blowing Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1L9iHFwfxpemda0cd8b1DfZAxJ7xvfqLg/view?usp=sharing">
                      Securities Trading Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1TyDbOqkNYEeyaOB94oFNmiNQJzxzwd0p/view?usp=sharing">
                      Stakeholder Management and Communication Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1oE8utyfuBCdjgN4-sFW1IYtRvYxV39EQ/view?usp=sharing">
                      Complaints Management Policy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1ijLC_hWwsesYhhSfkDhEvLXknAjuxPVB/view?usp=sharing">
                      Notice of AGM by Proxy
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://custodianplc.com.ng/investors_uploads/E-DIVIDEND_MANDATE_CARD_CUSTODIAN_INVESTMENT_PLC.pdf">
                      E-Dividend Mandate Card
                    </a>
                  </li>
                  <li><a href="https://custodianplc.com.ng/complaint-lodgement">Complaint Lodgement</a></li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1rB__SkV6NFNw5yCMWl9lnwvuEaGJ_XHl/view?usp=sharing">
                    Nigerian Code of Corporate Governance
                    </a>
                  </li>
                  <li>
                  
                  <a target="_blank" href=" https://youtu.be/N4EdAbNspUE">
                    <!-- <a target="_blank" href="http://bit.ly/CustodianAGM2021 "> -->
                    AGM Live Streaming
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="https://drive.google.com/file/d/1dWClryEwglCUcAPtSgwG4b-sg5iUGJjr/view?usp=sharing">
                    Unclaimed Dividends List
                    </a>
                  </li>
                </ul>
              </li>
              <li> <a href="https://custodianplc.com.ng/Resource-Center">Resource center</a> </li>
            </ul>
          </li>

          <li class="">
            <a href="#">Products</a>
            <ul class="dropdown">
              <li>
                <a href="#">General Insurance Products</a>
                <ul class="dropdown">
                  <li><a class="consent-link" href="https://custodianplc.com.ng/car-insurance"> Auto Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/travel-insurance">Travel Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/home-shield">Home Insurance</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/safety-plus-plan">Safety Plus</a></li>
                  <li><a class="consent-link" href="https://custodianplc.com.ng/events-insurance">Events Insurance</a></li>
                  <li><a  href="#">Others</a></li>
                </ul>
              </li>

              <li>
                <a href="#">Life Insurance Products</a>
                <ul class="dropdown ">
                  <li>
                    <a href="#">Savings & Investment</a>
                    <ul class="dropdown">
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/capital-builder">Capital Builder</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/esusu-shield">Esusu Shield</a> </li>                     
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/personal-provident-plan">Personal Provident Plan</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/investment-plus-plan">Investment Plus Plan</a> </li>
                      <li > <a class="consent-link" href="https://custodianplc.com.ng/wealth-plus">Wealth Plus Plan</a> </li>
                    </ul> 
                  </li>
                  <li>
                    <a href="#">Endowment Policies</a> 
                    <ul class="dropdown">
                      <li><a class="consent-link" href="https://custodianplc.com.ng/education-endowment ">Education Endowment</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/life-time-harvest"> Life Time Havest</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/ordinary-endowment">Ordinary Endowment</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Protection</a>
                    <ul class="dropdown">
                      <li><a class="consent-link" href="https://custodianplc.com.ng/term-assurance">Term Assurance</a></li>
                      <li><a class="consent-link" href="https://custodianplc.com.ng/whole-life-assurance">Whole Life Assurance </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/dignity-plan">Dignity Plan </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/tuition-protection">Tuition Protection </a></li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/critical-illness-insurance">Critical Illness Cover </a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Annuities</a> 
                    <ul class="dropdown">
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/deferred-annuity-plan">Deferred Anuity</a> </li>
                      <li> <a class="consent-link" href="https://custodianplc.com.ng/immediate-annuity-plan">Immediate Annuity</a> </li>
                      <li> <a class="consent-link"   href="https://custodianplc.com.ng/retiree-annuity-plan">Retiree Life Annuity</a> </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Corporate</a> 
                    <ul class="dropdown">
                      <li> <a  href="https://custodianplc.com.ng/group-credit">Group Credit Life</a> </li>
                      <li> <a href="https://custodianplc.com.ng/group-life">Group Life</a> </li>
                    </ul>
                  </li>
                  <li> <a href="https://custodianplc.com.ng/life-products">Others</a> </li>
                </ul>
              </li>
              
              <li><a href="https://custodianplc.com.ng/trustees-limited">Trustees</a></li>
              <li><a href="https://www.crusaderpensions.com" target="blank">Pensions</a></li>   
              <li><a href="https://updcplc.com" target="_blank">Real Estate</a></li> 
            </ul>
		  </li>                           
		  
		  <li> <a href="https://custodianplc.com.ng/key-moments">Key Moments</a></li> 
          <li> <a href="#" target="blank">Careers</a></li> 
          <li> <a href="https://custodianplc.com.ng/csr-foundation">CSR </a></li>
		  <li> <a href="https://custodianplc.com.ng/claim">Claim </a></li> 
		  <li>
            <a href="#">Contact</a>
            <ul class="dropdown">
              
              <li><a href="https://custodianplc.com.ng/contacts">Contact us</a></li>
              <li><a href="https://custodianplc.com.ng/branches">Our Branches</a></li>
             
            </ul> 
      </li>

          <li class="nav-divider" aria-hidden="true"><a href="javascript:void(0)">|</a> </li>   
          <li class="social-item">
            <a href="https://twitter.com/CustodianPLC" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://facebook.com/CustodianPLC/" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="social-item">
            <a href="https://www.instagram.com/custodianplc" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>      
          <li class="btn-item">
            <a href="#" target="blank">
              <div class="btn btn-white btn-shadow btn-bordered btn-bordered-1x">Chat Max</div>
            </a>
		      </li>
         
        </ul>
      </nav>
    </div>
  </div>

</header>
    <div class="page">
      <div class="page-inner p-none no-border">
        <section class="page-header b-bordered t-bordered hpadding">
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h1 class="title mt-5">Safety Plus</h1>
          <nav class="c-breadcrumb-1 -style-icons pull-right">
            <ol class="c-breadcrumb-1-inner">

              <li class="c-breadcrumb-1-item" style="border:solid 1px red">
                <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                </a>
              </li>

              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng/safety-plus-plan" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                  Get a quote
                </a>
              </li>

              <li class="c-breadcrumb-1-item">
                <a href="javascript:;" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-plus" aria-hidden="true"></i>
                  Safety Plus
                </a>
              </li>
              
            </ol>
          </nav>
        </div>
    </div>
  </div>
</section>
<input
  type="hidden"
  route-name="quote.email"
  value="https://custodianplc.com.ng/quote/email"
>

<input
  type="hidden"
  route-name="personalaccident.quote.save"
  value="https://custodianplc.com.ng/safety-plus-plan/quote/save"
>

<input
  type="hidden"
  route-name="personalaccident.quote.download"
  value="https://custodianplc.com.ng/safety-plus-plan/quote/download/:filename"
>
<!--the floating button-->

    <div class="wow-bmp wow-bmp-pos-b wow-bmp-effect-fade">
        <input type="checkbox">
      <a href="#" class="color-white hcolor-black">
          <i class="color-black hcolor-white fa fa-bank"></i>
        </a>

          <ul>
            <li>
              <a href="https://custodianplc.com.ng/life-products" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-umbrella"></i>
              </a>
              <em class="tl">
                  <h3 style="color: #ffffff;">Life Insurance </h3>
                  Let's help you protect what matters most
                  <br>now and in the years to come.
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/home-shield" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-home"></i>
              </a>
              <em class="tl">
                  <h3 style="color: #ffffff;">Custodian Home Shield </h3>
                  A 4-in-1 combination cover to protect
                  <br>your household contents. Get a quote today!
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/car-insurance" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-car"></i>
              </a>
              <em class="tl">
                  <h3 style="color: #ffffff;">Auto Insurance </h2>
                  Get an online auto insurance quote that meets
                  <br> your Third Party &amp; Comprehensive insurance needs.
                  <br> It is fast, easy and convenient.
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/travel-insurance" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-plane"></i>
              </a>
              <em class="tl">
                  <h3 style="color: #ffffff;"> Travel Insurance </h3>
                  Wherever you may wish to go, have a fun filled trip.
                  <br>Let us deal with all your concerns.
                  <br>Get your Travel Insurance Cover today!
              </em>
            </li>
            <li>
              <a href="http://marine.custodiansme.com/" class="color-white hcolor-black" target="_blank">
                  <i class="color-black hcolor-white fa fa-anchor"></i>
              </a>
              <em class="tr">
                  <h3 style="color: #ffffff;"> Marine Insurance </h3>
                  We cover your losses
                  <br> on the sea, from the point of origin
                  <br> to the final destination.
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/trustees-limited" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-money"></i>
              </a>
              <em class="tr">
                  <h3 style="color: #ffffff;"> Wealth Management </h3>
                  Let us help you grow and sustain your wealth<br>from Generation to Generation
                  <br>
              </em>
            </li>
            <li>
              <a href="http://www.crusaderpensions.com/" class="color-white hcolor-black" target="_blank">
                  <i class="color-black hcolor-white fa fa-external-link-square"></i>
              </a>
              <em class="tr">
                  <h3 style="color: #ffffff;">Pensions </h3>
                  Focus on you and your
                  <br> future. Learn more.
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-address-card"></i>
              </a>
              <em class="tr">
                  <h3 style="color: #ffffff;">Make A Claim</h3>
                  No stories. No delays.
                  <br> It's easy and seamless.
              </em>
            </li>
            <li>
              <a href="https://custodianplc.com.ng/contacts" class="color-white hcolor-black" target="">
                  <i class="color-black hcolor-white fa fa-envelope-open"></i>
              </a>
              <em class="tr">
                  <h3 style="color: #ffffff;"> Care Centre </h3>
                  We would love to hear from you.
                  <br> Please contact our customer care center.
              </em>
            </li>
          </ul>
</div>

<!--floating button end--><style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="https://custodianplc.com.ng/img/loader.gif" >
  </div>
</div>
  </div>
</div>
@RenderBody();
      </div>
      <footer class="footer stylelamas" style="margin-top:40px;">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Newsletter</h4>
            </div>
            <p class="mb-10">
              Please enter your email address to subscribe to our newsletter. Don't worry, you can opt out at anytime.
            </p>

            <div class="clearfix">
              <form action="https://custodianplc.com.ng/newsletter/request" method="POST" asp-antiforgery="true">
                  <div class="input-group">
                    <div class="input-group">
                      <input required class="form-control" placeholder="Email Address" name="email" id="email" type="email">
                    </div>                      
                </div>
                <button
                  style="display: block; margin-top: 5px"
                  type="submit"
                  class="btn btn-primary btn-class"
                >
                  Subscribe
                </button>
              </form>

              <div class="clearfix social-wrap mt-25">
                <ul class="list-inline">
                  <li>
                    <a href="https://twitter.com/CustodianPLC" class="asc_twitter clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-twitter"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Twitter</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="https://facebook.com/CustodianPLC/" class="asc_facebook clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-facebook"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Facebook</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.instagram.com/custodianplc" class="asc_instagram clearfix" target="blank">
                      <span class="social-icon"><i class="ion-social-instagram"></i></span>
                      <div class="meta clearfix">
                        <strong class="asc_count">Follow Us</strong>
                        <div class="name">on Instagram</div>
                      </div>
                    </a>
                  </li>
                  <li style="margin-right: 5px;">
                    <a href="https://www.linkedin.com/company/custodianplc" class="asc_linkedin clearfix" target="blank">
                        <span class="social-icon"><i class="ion-social-linkedin"></i></span>
                        <div class="meta clearfix">
                          <strong class="asc_count">Follow Us</strong>
                          <div class="name">on LinkedIn</div>
                        </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="heading">
              <h4 class="title">Custodian Investment Plc</h4>
            </div>
            <ul class="list-unstyled">
              <li> <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">Custodian and Allied Insurance Ltd</a></li>
              <li> <a href="https://custodianplc.com.ng/custodian-life-assurance-limited">Custodian Life Assurance Ltd</a></li>
              <li> <a href="https://custodianplc.com.ng/trustees-limited" >Custodian Trustees Ltd</a></li>
              <li> <a href="http://www.crusaderpensions.com/" target="_blank">CrusaderSterling Pensions Ltd</a> </li>
              <li> <a href="https://updcplc.com/" target="_blank">UPDC Plc</a> </li>
              
            </ul>
          </section>
        </div>

        <div class="col-md-3">
          <section>
            <div class="heading">
              <h4 class="title">Get In Touch</h4>
            </div>

            <div class="map-img">
              <address>
                <i class="ion-ios-location"></i> <strong> Address</strong><br>
                16A, Commercial Avenue, Sabo, Yaba, Lagos<br>
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234)12774000-9<br>
              <abbr title="Email Address"><strong>Email:</strong></abbr> carecentre@custodianinsurance.com<br><br>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline fs-11 mb-none">
            <li><p class="mb-0 fw-6">© 2023 Custodian Investment Plc</p></li>
          </ul>
        </div>
        <div class="col-sm-6"> 
          <ul class="footer-socials list-inline pull-right mb-none">
            <li> <a href="https://custodianplc.com.ng/privacy-policy" target="_blank">PRIVACY POLICY</a> </li>
			<li><a href="#"> | </a></li>
            <li><a href="https://custodianplc.com.ng/documents/WHISTLE_BLOWING_POLICY.pdf" target="_blank">WHISTLE BLOWING POLICY</a></li>
			<li><a href="#"> | </a></li>
            <li><a href="https://custodianplc.com.ng/whistleblower">WHISTLE BLOWER</a></li>
            <li><a href="#"> | </a></li>
			<li><a href="#">TERMS AND CONDITIONS</a></li>
			<li> | </li>
            <li><a href="https://custodianplc.com.ng/complaints-procedure">COMPLAINTS PROCEDURE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>    </div>

  </div>

  <script src="~/vendor/sweetalert/sweetalert.all.js"></script>
  <script src="~/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"
  type="text/javascript"
></script>

<script src="~/vendor/jquery/jquery.nav.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery/jquery.validate.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery.appear/jquery.appear.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery.easing/jquery.easing.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery-cookie/jquery-cookie.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/air-datepicker/datepicker.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<!-- Include English language -->
<script src="~/vendor/air-datepicker/i18n/datepicker.en.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/inputmask/dist/jquery.mask.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/magnific-popup/jquery.magnific-popup.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/modernizr/modernizr.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/tether/tether.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/menuzord/menuzord.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/sticky/jquery.sticky.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/isotope/jquery.isotope.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/respond/respond.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/smoothscroll/smooth.scroll.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/images-loaded/imagesloaded.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/owl.carousel/owl.carousel.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/flex-slider/jquery.flexslider-min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/dzsparallaxer/dzsparallaxer.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/wow/wow.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/lite-tooltip/js/litetooltip.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/functions.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/theme.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/js/custom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/style-switcher/style.switcher.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
<script src="~/vendor/style-switcher/style.switcher.localstorage.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/car.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script src="~/vendor/node_modules/sweetalert2/dist/sweetalert2.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script>

$('.datepicker').datepicker({
  uiLibrary: 'bootstrap4' 
});

function printThis(){
  $("printMe").printElement();    
}

</script>


<script src="~/vendor/moment/moment-with-locales.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<!-- Include all library files -->
<script src="~/javascript/library/lib_core.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_date.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_val.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_file.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_dom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_loader.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_currency.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="~/javascript/app/browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/app/modal.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/app/api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="~/javascript/parameters/app_parameters.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/javascript/controllers/app_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115610004-1"></script>

@* window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-115610004-1');*@
  <script>

function validateRequiredField($input) {
    if (!$input.val()) {
        var errorMessage = $input.data('val-required') || $input.data('val-imageformatvalidation') || $input.data('val-ImageSizeValidation');
        //alert(errorMessage);
        Swal.fire({
            icon: 'error',
            confirmButtonText: 'OK',
            title: 'Required!',
            text: errorMessage,
        });
        return false;
    }
    return true;
}


$(function() {
    $("#product_second_step_prev").click(function(event) {
        $('#step-2').hide();
        $('#step-1').show();
        $('.stepwizard-1').removeClass('btn-default').addClass('btn-primary');
        $('.stepwizard-2').removeClass('btn-primary').addClass('btn-default');
    });
});

$(function() {
    $("#product_third_step_prev").click(function(event) {
        $('#step-3').hide();
        $('#step-2').show();
        $('.stepwizard-2').removeClass('btn-default').addClass('btn-primary');
        $('.stepwizard-3').removeClass('btn-primary').addClass('btn-default');
    });
});

$(function () {
    $("#product_first_step").click(function (event) {
        event.preventDefault;
        
        var is_valid_file = validateRequiredField($("#idUploaderFile"));
       
        var is_valid_identification_no = validateRequiredField($("#identification_no"));
        var is_valid_identification_type = validateRequiredField($("#identification_type"));
        var is_valid_occupation = validateRequiredField($("#occupation"));
        var is_valid_address = validateRequiredField($("#address"));
        var is_valid_telephone = validateRequiredField($("#telephone"));
        var is_valid_date_of_birth = validateRequiredField($("#date_of_birth"));
        var is_valid_email = validateRequiredField($("#email"));
        var is_valid_firstname = validateRequiredField($("#firstname"));
        var is_valid_surname = validateRequiredField($("#surname"));
        var is_valid_title = validateRequiredField($("#title"));

        if(is_valid_title && is_valid_telephone && is_valid_surname && is_valid_occupation 
          && is_valid_identification_type&& is_valid_identification_no && is_valid_firstname 
          && is_valid_file && is_valid_email && is_valid_date_of_birth &&is_valid_address) 
        {
            $('#step-1').hide();
            $('#step-2').show();
            $('.stepwizard-1').removeClass('btn-primary').addClass('btn-default');
            $('.stepwizard-2').removeClass('btn-default').addClass('btn-primary');

        }
    });
});


$(function () {
    $("#product_second_step").click(function (event) {
        // Check if all required fields are valid
        var isvalid_identification_image_file = validateRequiredField($("#identification_image_file"));
        var isvalid_beneficiary_relationship = validateRequiredField($("#beneficiary_relationship"));
        var isvalid_beneficiary_gender = validateRequiredField($("#beneficiary_gender"));
        var isvalid_beneficiary_dob = validateRequiredField($("#beneficiary_dob"));
        var isvalid_beneficiary_name = validateRequiredField($("#beneficiary_name"));
        var isvalid_company_address = validateRequiredField($("#company_address"));
        var isvalid_company_name = validateRequiredField($("#company_name"));
        var isvalid_identification_number = validateRequiredField($("#identification_number"));
        var isvalid_identification_type = validateRequiredField($("#identification_type"));
        var isvalid_showcase_premium = validateRequiredField($("#showcase-premium"));
        var isvalid_units = validateRequiredField($("#units"));
        var isvalid_policy_period = validateRequiredField($("#policy_period"));
        var isvalid_start_date = validateRequiredField($("#start_date"));

        // If all required fields are valid, proceed to next step
        if (isvalid_beneficiary_dob && isvalid_identification_image_file && isvalid_beneficiary_relationship &&
            isvalid_beneficiary_gender && isvalid_beneficiary_name && isvalid_company_address &&
            isvalid_company_address && isvalid_company_name && isvalid_identification_number &&
            isvalid_identification_type && isvalid_showcase_premium && isvalid_units &&
            isvalid_policy_period && isvalid_start_date) {
            // Hide current step and show next step
            $('#step-2').hide();
            $('#step-3').show();

            // Update preview data
            $("#pre_client_name").text($("#title").val() + " " + $("input[name=surname]").val() + " " + $("#firstname").val());
            $("#product_name").text("Safety Plus Plan");
            $("#summary_company_name").text($("#company_name").val());
            $("#pre_payment_option").text($("#policy_period").val());
            $("#pre_insurance_start_date").text($("#start_date").val());
            $("#summary_beneficiary_name").text($("#beneficiary_name").val());
            $("#pre_sum_assured").text($('#showcase-premium').val());
        }
    });
});

$(function () {
    $("#auto_second_step").click(function (event) {
        // Check if all required fields are valid
        //var isvalid_identification_image_file = validateRequiredField($("#total"));
        var isvalid_identification_image_file = validateRequiredField($("#vehicle_color"));
        var isvalid_beneficiary_relationship = validateRequiredField($("#insurance_start_date"));
        var isvalid_beneficiary_gender = validateRequiredField($("#car_body_type"));
        var isvalid_beneficiary_dob = validateRequiredField($("#year_of_make"));
        var isvalid_beneficiary_name = validateRequiredField($("#engine_number"));
        var isvalid_company_address = validateRequiredField($("#chassis_no"));
        var isvalid_company_name = validateRequiredField($("#registration_number"));
        //var isvalid_identification_number = validateRequiredField($("#mode_of_vehicle"));
        var isvalid_identification_type = validateRequiredField($("#vehicle_make"));
        var isvalid_showcase_premium = validateRequiredField($("#payment_option"));
        var isvalid_units = validateRequiredField($("#vehicle_value"));
        var isvalid_policy_period = validateRequiredField($("#Vehicle_Category"));
        var isvalid_start_date = validateRequiredField($("#type_of_cover"));

        // If all required fields are valid, proceed to next step
        if (isvalid_beneficiary_dob && isvalid_identification_image_file && isvalid_beneficiary_relationship &&
            isvalid_beneficiary_gender && isvalid_beneficiary_name && isvalid_company_address &&
            isvalid_company_address && isvalid_company_name /*&& isvalid_identification_number*/ &&
            isvalid_identification_type && isvalid_showcase_premium && isvalid_units &&
            isvalid_policy_period && isvalid_start_date) {
            // Hide current step and show next step
            $('#step-2').hide();
            $('#step-3').show();

            // Update preview data
            $("#pre_client_name").text($("#title").val() + " " + $("input[name=surname]").val() + " " + $("#firstname").val());
            $("#pre_products").text("Vehicle_Category");
            $("#summary_category").text($("#AutoInsurance").val());
            $("#pre_payment_option").text($("#payment_option").val());
            $("#pre_insurance_start_date").text($("#insurance_start_date").val());
            $("#pre_vehicle_value").text($("#vehicle_value").val());
            $("#pre_sum_assured").text($('#total').val());
        }
    });
});


$(document).ready(function() {
    $('#units').change(function() {
        var unit = $('#units').val();
        $.ajax({
            url: '/Sales/Safety-Plus-Plan/CalculatePremium?unit=' + unit,
            type: 'GET',
            success: function(result) {
                $('#showcase-premium').val('NGN ' + result.premium.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                $('#premium').val(result.premium.toFixed(2));
            },
            error: function(xhr) {
                $('#showcase-premium').val('');
               //alert(xhr.responseText);
            }
        });
    });
});

</script>

@*
  ---------------------------------------------
  |         For vehicleDetails                 |
  ----------------------------------------------
*@
<script>
  $(document).ready(function() {
  // Define the options for each type of cover
  var optionsByCoverType = {
    'Third Party': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial (Own Goods/Staff Bus)' },
      { value: 'Commercial (Truck)', text: 'Commercial (Truck/General Cartage)' }
    ],
    'Third Party Fire and Theft': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial' }
    ],
    'Comprehensive': [
      { value: 'Private', text: 'Private' },
      { value: 'Commercial', text: 'Commercial' }
    ]
  };

  // Define a function to populate the options of the Vehicle_Category select element
  function populateVehicleCategoryOptions(options) {
  var vehicleCategorySelect = $('#Vehicle_Category');
  vehicleCategorySelect.empty(); // Remove existing options
  vehicleCategorySelect.append($('<option>', {
    value: '',
    text: 'Select One'
  }));
  $.each(options, function(index, option) {
    vehicleCategorySelect.append($('<option>', {
      value: option.value,
      text: option.text
    }));
  });
}

  // Populate initial options for Vehicle Category select element
  populateVehicleCategoryOptions(optionsByCoverType['Third Party']);

  // Update options for Vehicle Category select element when Type of Cover changes
  $('#type_of_cover').on('change', function() {
    var selectedCoverType = $(this).val();
    populateVehicleCategoryOptions(optionsByCoverType[selectedCoverType]);
  });

  // Update options for Payment Option select element when Type of Cover changes
  function updatePaymentOptionOptions(selectedCoverType) {
    var paymentOptionSelect = $('#payment_option');
    paymentOptionSelect.empty(); // Remove existing options
    if (selectedCoverType === 'Comprehensive') {
      paymentOptionSelect.append($('<option>', {
        value: 'Annually',
        text: 'Annually'
      }));
      paymentOptionSelect.append($('<option>', {
        value: 'Bi-Annually',
        text: 'Bi-Annually'
      }));
      paymentOptionSelect.append($('<option>', {
        value: 'Quarterly',
        text: 'Quarterly'
      }));
    } else {
      paymentOptionSelect.append($('<option>', {
        value: 'Annually',
        text: 'Annually'
      }));
    }
  }


  // Add an event listener to the type_of_cover select element to update the options of the Vehicle_Category select element when its value changes
  $('#type_of_cover').on('change', function() {
    var selectedCoverType = $(this).val();
    populateVehicleCategoryOptions(optionsByCoverType[selectedCoverType]);
    updatePaymentOptionOptions(selectedCoverType);
  });
});


$(document).ready(function() {
  // Disable the "mode_of_vehicle" select element on document load
  $("#mode_of_vehicle").prop("disabled", true);

  // Enable the "mode_of_vehicle" select element when a vehicle_make is selected
  $("#vehicle_make").change(function() {
    if ($(this).val() !== "") {
      $("#mode_of_vehicle").prop("disabled", false);
    } else {
      $("#mode_of_vehicle").prop("disabled", true);
    }
  });
});

// hide the buy_extension_section on load
  document.getElementById('buy_extension_section').style.display = 'none';
  
  // add an event listener to the cover_type select element
  document.getElementById('type_of_cover').addEventListener('change', function() {
    // if the selected value is Comprehensive, show the buy_extension_section
    if (this.value === 'Comprehensive') {
      document.getElementById('buy_extension_section').style.display = 'block';
    } else {
      // otherwise, hide it
      document.getElementById('buy_extension_section').style.display = 'none';
    }
  });

  function toggle() {
  var extensionsList = document.getElementById("extentions-list");
  if (document.getElementById("group_checkbox").checked) {
    extensionsList.style.display = "block";
  } else {
    extensionsList.style.display = "none";
  }
}


</script>
 <script>
  	$(document).on('ready', function() {
		$('.phone_mask').mask("0xxxxxxxxxx", {'translation': {
				0: {pattern: /[0]/},
				x: {pattern: /[0-9]/},
			}, placeholder: '0xxxxxxxxxx'});

		// FIX: TO TRIGGER ON CHANGE WHENEVER A DATE IS SELECTED.
		/* $('.datepicker-here').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		}); */
	});

	/*--------------------------------------------------------------- 
	|	FILE VALIDATION METHOD:
	|----------------------------------------------------------------
	| 	Validates if the file is of the right format and size.
	|	If yes: Preview is shown.
	|	If no: Alert goes off telling the user the input error.
	|--------------------------------------------------------------*/
	var validateFile = function(fileDOM, fileTextDOM, fileSize=2097152) {
		// This is where the text display input is filled.
		// with the value of the object returned.
		var url = fileDOM.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
		if (fileDOM.files && fileDOM.files[0] && fileDOM.files[0].size <= fileSize) {
			if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "pdf") {
				$(fileTextDOM).val(fileDOM.value);
				var type = '<img class="img-thumbnail" src="" id="salert_img_preview"  style="max-height:300px;max-width:400px;" />';
		
				if(ext == "pdf") {
					type = '<iframe src="" id="salert_img_preview" width="400px" height="450px"></iframe>';
				}
				
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#salert_img_preview').attr('src', e.target.result);
					// console.log(e.target.result);
				}
				reader.readAsDataURL(fileDOM.files[0]);
			
				// Show the preview using sweetalert!
				swal({
					title: 'Preview',
					html: type
				});
			} else {
				$(fileTextDOM).val('');
				$(fileDOM).val('');
				swal({
					type: 'error',
					title: 'File format not supported',
					html: '<hr><strong>You can only upload image and pdf files</strong>'
				});
			}
		} else {
			$(fileTextDOM).val('');
			$(fileDOM).val('');
			swal({
				type: 'error',
				title: 'Upload size limit exceeded',
				html: '<hr><strong>Upload size limit is ' + getPrettyFileSize(fileSize) + '</strong>'
			});
		}
	}
	// DONE WITH FILE VALIDATION

	var getPrettyFileSize = function(fileSize, key=0) {
		var postfix = ['B','KB', 'MB', 'GB', 'TB'];
		if (fileSize < 1024) {
			return fileSize + ' ' + postfix[key];
		} else {
			key++;
			fileSize = (fileSize / 1024);
			return getPrettyFileSize(fileSize, key);
		}
	}

	/*------------------------------------------------------------- 
	|	DO THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
	
	$(document).ready(function() {
		$('.datepicker-here').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		});

		$('#date_of_birth, #travellers_date_of_birth, #beneficiary_dob').datepicker({
			maxDate: new Date()
		});

		$('#departure_date, #return_date, #insurance_start_date, #start_date').datepicker({
			minDate: new Date()
		});
	});

	/*------------------------------------------------------------- 
	|	END THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
</script>

  <script src="~/javascript/products/personal_accident/step_one_personal_accident.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/javascript/products/personal_accident/step_two_personal_accident.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/javascript/products/personal_accident/index_personal_accident.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
</body>
</html>